.edit-data-sidebar{
    border-right: 1px solid $bc;
    height: 100%;
    .edit-data-sidebar-header{
        height: 42px;
        line-height: 42px;
        padding: 0 15px;
        border-bottom: 1px solid $bc;
        >h5{
            float: left;
            color: $fcs;
            line-height: 42px;
            font-weight: bold;
        }
        >a{
            float: right;
            color: inherit;
        }
    }
}